.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  background: var(--background);
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  .app {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
  }
}

